* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3EEEE;
    font-family: Poppins;
    line-height: 1.7;
    font-family: 'Poppins';
    font-size: 11pt;
}

#screensize{
    display: none;
}
h1{
    font-family: 'playfair display';
    font-size: 24px;
    font-weight: bold;
    }
h2{
    font-weight: 700; 
    font-size: 24px;
}
h3{
    font-weight: 700;
    font-size: 18px;
    color: #705261;
}
h4{
    font-weight: 600;
    letter-spacing: 0.1em;
}
@media( max-width: 440px){
    body{
        font-size: 11px;
    }
    h1{
        font-size: 14px;
        font-weight: bold;
    }

    h2{
        font-weight: 700;
        font-size: 12px;
    }

    h3{
        font-size: 12px;
    }
}
.maxoverall{
    max-width: 2880px;
    margin: auto;
}

/* Navbar */
.nav-bck-img{
    z-index: 1;
    position: fixed;
    width: 100%; 
    background-image: url('header_background.svg'); 
    min-height: 140px;
    max-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -30px;
}
.navbar{
    z-index: 2;
    top: 20px;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    margin-top: 40px;
    height: 1%;
    width: 100%;
    position: relative;
}
#nav-kontakt{
    margin-right: 20px;
}
.linkanimation {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 0.8%;
    float: right;
}
.linkanimation::after{
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background: #705261;
    transition: width 0.3s;
}
.linkanimation:hover::after {
    width: 75%;
    transition: width 0.3s
}
.icon{
    display: none;
    padding-top: 10px;
    padding-left: 25px;
    z-index: 1;
}
@media (max-width: 440px){
    .nav-bck-img{
        background-size: cover;
        margin-top: -40px;
        max-height: 600px;
    }
    #nav-kontakt{
        margin-bottom: 20px;
    }
    .linkanimation{
        display: none;
    }
    
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: left;
      display: block;
    }
    .navbarresponsive {
        position: relative;
        z-index: 1;
        padding-top: 150px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .icon {
      position: fixed;
      top: 10px;
      display: inline;
    }
    .navbarresponsive a {
      display: block;
      text-align: center;
    }
    .linkanimation{
        padding-bottom: 30px;
        width: 100%;
        text-align-last: center;
    }
    .linkanimation:hover::after {
        width: 0%;
        transition: width 0.0s
    }
    #nav-barresponsivehide{
        display: none;
    }
}
@media ( min-width: 1880px){
    .nav-bck-img{
        background-image: url('header_background_gerade.svg'); 
    }
}

/*logo*/
    .logo_web{
        position: relative;
        padding-left: 5%;
        z-index: 3;
    }
    .logo_mobile{
        display: none;
        position: absolute;
    }

    .logo_mobile_stick{
        position: sticky;
        top: 0;
        z-index: 7;
        margin: auto;
        width: 50%;
    }
    .title_mobile{
        display: none;
    }

 @media (max-width: 440px){
    .logo_mobile{
        display: block;
        position: relative;
    }
    .logo_web{
        display: none;
    }
    .title_mobile{
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
 }

/*Divider*/ 
.dividerMethod{
    margin-top: 40px;
    background-image: url('divider1.png');
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 350px;
}

.dividerSprechstunde{
    margin-top: 70px;
    background-image: url('divider2.svg');
    background-repeat: no-repeat;
    min-height: 400px;
}

.dividerTeam{
    background-image: url('divider1.svg');
    background-repeat: no-repeat;
    min-height: 350px;
}

.dividerKontakt{
    background-image: url('divider2.svg');
    background-repeat: no-repeat;
    min-height: 400px;
}

.text-divider{
    padding-left: 13%;
}

#anchor-therapie{
    padding-top: 150px;
}

#anchor-oeffnungszeiten{
    padding-top: 200px;
}

#anchor-team{
    padding-top: 130px;
}

#anchor-Kontakt{
    padding-top: 190px;
}

@media (max-width: 440px){
    .dividerMethod{
        background-size: 200px 100px;
        min-height: 100px;
        margin-top: 10px;
    }
    #anchor-therapie{
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .dividerSprechstunde{
        background-size: 300px 300px;
        margin-top: -40px;
        min-height: 250px;
    }
    #anchor-oeffnungszeiten{
        padding-top: 150px;
    }

    .dividerTeam{
        background-size: 240px 240px;
        padding-top: 0px;
        min-height: 220px;
    }
    .dividerKontakt{
        background-size: 240px 240px;
        min-height: 200px;
    }
    #anchor-Kontakt{
        padding-top: 120px;
    }
}
@media ( min-width: 1880px){
    .text-divider{
        padding-left: 8%;
    }
} 

/*Aktuelles */
.container-intro{
    display: grid; 
    margin-top: 200px;
    grid-template-columns: 1fr 1fr; 
}

.slideshow{
    padding-left: 25%;
}

.cell-1{
margin-right: 30px;
}
.picture{
    width: 100%;
    max-height: 100%;
    margin-right: 30px;
}
.cell-2{
    padding-top: 10%;
    padding-right: 30%;
}
.intro{
    padding-left: 3%;
}
#statement-pos{
    padding-top: 2%;
}

#statement-resp{
    display: none;
}

@media( max-width: 440px){
    .container-intro{
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        margin-top: 1px;
    }

    .intro{
        padding-left: 50px;
        border-left: 0px;
    }

    .cell-1{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .cell-2{
        padding-top: 5px;
        padding-right: 50px;
    }
    .slideshow{
        padding-left: 30px;
    }
    .picture{
        position: relative;
    }
    #statement-pos{
        display: none;
    }
    #statement-resp{
        display: block;
        padding-top: 100px;
        margin-left: 50px;
    }
}

/*aktuelle new*/
.picture_new{
    width: 100%
}
.container-intro_new{
    margin-top: 40px;
    margin-bottom: 20px;
}
.slideshow_new{
    position: relative;
    transition: ease-in .6;
}

.pic-slideshow{
    overflow: hidden;
    max-height: 751px;
}

.intro_new{
    width: 50%;
    text-align: left;
    padding-left: 20%;
    margin-top: 40px;
}
#next, #prev{
    color: rgba(222, 222, 222, 0.9);
    margin-top: 25%;
    font-size: 25pt;
}
.dot-collection{
    text-align: center;
    margin-top: -7%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #705261
}
@media( max-width: 440px){
    .intro_new{
        margin-top: 30px;
        width: 80%;
        padding-left: 50px;
    }
    .container-intro_new{
        margin-top: 9px;
        z-index: 1;
    }
    .pic-slideshow{
        overflow: hidden;
        height: 200px;
    }

    #next, #prev{
        margin-top: 13%;
        font-size: 14pt;
    }  
    .dot{
        height: 5px;
        width: 5px;
        margin: 0 2px;
    }  
    .dot-collection{
        margin-top: -15%;
    }
}
@media ( min-width: 1880px){
    .dot-collection{
        margin-top: -2%;
    }
}


/*Methden*/
#methods{
    padding-left: 20%;
    width: 60%;
}

.container-methods{
    display: grid; 
    margin-top: 5%;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    padding-left: 25%;
    padding-right: 25%;
}
.resp-methoden{
    display: none;
}
.cellm {
    background-color: white;
    opacity: 90%;
    border-radius: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    height: 16em;
    width: 16em;
}

.pic-meth{
    padding-top: 20%;
    max-height: 70px;
    transition: ease-in-out all 300ms;
}

.cellm:hover img{
    transform: scale(1.2);
}

.icon-text{
    text-align: center;
    Padding-top: 5%;
    transition: ease-in-out 300ms;
}

.button{
    text-decoration: none;
    color: #705261;
    text-decoration-line: none;
}

.button-carusell{
    text-decoration: none;
    font-size: 14pt;
    font-weight: lighter;
    color: #705261;
    border: none;
    outline: none;
    background: transparent;
}
.button-carusell-collection{
    position: relative;
    margin-top: -50%;
    margin-bottom: 20%;
}

.button-left{
    width: 70px;
    height: 100px;
}
.button-right{
    float: right;
    width: 70px;
    height: 100px;
}
@media( max-width: 440px){
    .button-carusell-collection{
        margin-bottom: 10%;
    }
}


.cellm:hover h3{
    transform: scale(0.8);
}

#pic-weiter{
    width: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 1px;
}

@media( max-width: 440px){
    #methods{
        padding-top: 20px;
        padding-left: 50px;
        width: 75%;
    }
    .container-methods{
        display: none;
    }

    .resp-methoden{ 
        display: block;
        width: 100%;

    }

    .pic-small{
        height: 50px;
        margin-right: 15px;
    }
    .button-methode{
    margin: 15px;
    margin-bottom: 0px;
    margin-left: 70px;
    background: white;
    border: none;
    border-radius: 20px;
    height: 80px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.2), 0 3px 10px 0 rgba(94,94,94,0.19);
    }

    .resp-btn-methoden{
    text-decoration: none;
    color: #705261;
    font-weight: 600;
    }

    a.resp-btn-methoden{
        padding-left: 60px;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-right: 60px;
    }

    #weitere-small{
        height: 10px;
        margin-left: -10px;
    }

    #mikro-small{
        height: 45%;
    }
}

/*Sprechstunde*/
.cell-Montag {grid-area: cell-Mo; }
.cell-DiMiFr {grid-area: cell-DiMiFr; }
.cell-Do {grid-area: cell-Do; }
.cell-Sa {grid-area: cell-Sa; }

.container-sprechstunde{
    display: grid;
    position: center; 
    grid-template-areas: 
        'cell-Mo cell-DiMiFr'
        'cell-Do cell-Sa';
    margin-right: 20%;
    margin-left: 20%;
    width:50%;
    grid-gap: 10px;
}
.cellS{
    margin-left: 0%;
    margin-top: 5%;
}
.sprechstunde-background{
    margin-left: 54%;
    margin-top: -4%;
    background-image: url('terminvereinbarung.svg');
    background-repeat: no-repeat;
    min-height: 200px;
}
#terminvereinbarung{
    text-align: center;
    padding: 50px;
    padding-left: 50px;
    width: 350px;
}
.telefonnummer{
    text-decoration: underline;
    color: black;
}
.button-termin{
    display: none;
}

@media (max-width: 440px){
    .container-sprechstunde{
        grid-template-areas: 
            'cell-Mo cell-Mo'
            'cell-DiMiFr cell-DiMiFr'
            'cell-Do cell-Do'
            'cell-Sa cell-Sa';
    margin-left: 50px;
    grid-gap: 10px;
    width: 65%;
    }

    .sprechstunde-background{
        display: none;
    }

    .button-termin-box{
        text-align: center;
        margin-top: 20px;
    }

    .button-termin{
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        background-color: #705261;
        border: none; 
        text-align: center; 
        border-radius: 20px;
        margin-top: 20px;
        padding: 10px 15px;
        text-decoration: none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #btn-tel{
        color: #FFFFFF;
        font-size: 12px;
        text-decoration: none;
    }

}

/*Team*/
.container-team{
    display: grid; 
    position: center; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}
.cellT{
    margin-bottom: 20%;
}

.mitarbeiter-pic{
    width: 70%;
    margin-bottom: 15px;
}
.team-slideshow{
    display: none;
}

@media(max-width: 440px){
    .container-team{
        display: none;
    }
    .team-slideshow{
        display: inline;
        padding-left: 30px;
        padding-right: 30px;
    }
    #team-desc{
        position: center;
    }
    .mitarbeiter-pics{
    width: 60%;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .Subtitle-Mitarb{
        text-align: center;
    }

}
/*Kontakt*/

.maps{
    margin-top: 50px;
}

.container-kontakt{
    display: grid; 
    position: center; 
    grid-template-columns: 1fr 1fr;
    margin-right: 20%;
    margin-left: 20%;
    text-align: left;
}

@media (max-width: 440px){
    .container-kontakt{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 50px; 
        margin-right: 30px;
    }

    .cellTermin{
        margin-top: 30px;
    }
}

/*Schuldmedizin*/ 
.pic-therapie-header{
    margin-top: -5%;
    width: 100%
}

.background-therapie-header{
    margin-top: -9.4%;
}

.title-therapie{
    margin-top: -6%;
    margin-left: 20%;
}

.intro-therapie { grid-area: intro-therapie; }
.p-left { grid-area: p-left; }
.p-right { grid-area: p-right; }
.b-left {grid-area: b-left; }
.b-right {grid-area: b-right;}


.container-Schulmedizin{
    display: grid; 
    position: center; 
    grid-template-areas: 
        'intro-therapie intro-therapie'
        'p-left p-right'
        'b-left b-right';
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 4%;
    grid-gap: 20px;
}

.grid-container > div {
    text-align: left;
}

.therapie-coloum{
    margin-right: 5%;
}

#ul{
    margin-left: 7%;
}

.b-left{
    margin-top: 10%; 
    margin-block-end: 20%;
    text-align: left;
    text-decoration: black;
}
.b-right{
    margin-top: 10%;
    margin-block-end: 20%;
    text-align: right;
    text-decoration: black;
}
@media (max-width: 440px){
    .title-therapie{
        margin-top: -30px;
        margin-left: 30px;
    }
    .subtitle-therapie{
        margin-top: 20px;
    }
    .pic-therapie-header{
        margin-top: 0px;
        max-width: 100%;
    }

    .container-Schulmedizin{
        grid-template-areas: 
            'intro-therapie intro-therapie'
            'p-left p-left' 
            'p-right p-right'
            'b-left b-right';
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 3px;
        grid-gap: 15px;
    }
}
@media ( min-width: 1880px){
    .pic-therapie-header{
        margin-top: -2%;
        max-width: 1880px;
        display: block;
        margin: auto;
    }
}


.impressum{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.impressum-link{
    text-decoration: none;
    color: black;
}

/*Impressum*/ 
.impressum-content{
    margin-top: 10%;
    margin-left: 5%;
}
.impressum-title{
    font-size: 15px;
}

.impressum-weitere{
    color: rgb(74, 74, 74);
    font-size: 8pt;
}
@media (max-width: 440px){
    .impressum-content{
        margin-top: 25%;
        margin-left: 10%;
    }
}

/*Iphon 5 Special*/

@media(device-width: 320px){
    .pic-slideshow{
        overflow: hidden;
        width: 100%;
    }
    .slideshow_new{
        width: 110%;
    }
    .picture_new{
        width: 100%;
    }
    .button-methode {
        margin-left: 40px;
    }
}


/*cookie pop up */ 
#footer-cookie,
#footer-cookie * {
box-sizing: border-box;
    }
#footer-cookie {
display: none;
position: fixed;
bottom: 0px;
left: 0px;
width: 100%;
height: 60px;
padding-left: 30px;
padding-right: 30px;
line-height: 60px;
background: #705261;
color: #fff;
    }
#footer-cookie a {
color: #fff;
    }
#footer-cookie #description {
float: left;
    }
#footer-cookie #accept {
float: right;
    }
#footer-cookie #accept a {
border: 1px solid #fff;
padding: 5px 10px;
text-decoration: none;
    }
@media (max-width: 1200px) {
#footer-cookie {
padding-top: 30px;
padding-bottom: 30px;
line-height: inherit;
height: auto;
      }
#footer-cookie #description {
width: 100%;
      }
#footer-cookie #accept {
width: 100%;
margin-top: 15px;
      }
#footer-cookie #accept a {
width: 100%;
display: block;
text-align: center;
      }
    }